{% extends 'blogapp/base.html' %}
{% block content %}
{% load static %}
<div class="container custom-container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light w-100" style="padding: 10px; background: radial-gradient(circle at left, rgba(34, 193, 195, 0.8), transparent 70%),
                radial-gradient(circle at right, rgba(253, 187, 45, 0.8), transparent 70%);">


        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto ">
                <li><a href="/home" style="text-decoration: none;"><h1 class="w-50 " style="font-family: cursive; color: black; font-weight: bolder;">BLOGBRIDGE</h1></a></li>

            </ul>
            <form class="form-inline my-2 my-lg-0 ms-auto">
                <div class="dropdown">
                    <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Profile
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item" href="/home">Home</a></li>
                        <li><a class="dropdown-item" href="/newpost">New Post</a></li>
                        <li><a class="dropdown-item" href="/mypost">My Posts</a></li>
                        <li><a class="dropdown-item" href="/signout">Sign Out</a></li>
                    </ul>
                </div>
            </form>
        </div>

    </nav><br><br>
    <div class="container custom-container" style="max-width: 1350px; ">
        <h1>Update Posts</h1><br>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            
            <input type="submit" value="Update Post">

        </form>
    </div>
</div>
{% endblock %}